<!DOCTYPE html> <!-- This line tells the browser that this page should be rendered as per HTML 5 standards -->
<!-- <html lang="en"  xmlns:th="http://www.thymeleaf.org"> --> <!-- since we are using decoupled logic (game-over.th.xml) calling thymeleaf 
namespace is not required-->

<head id="headId">
<meta charset="ISO-8859-1">
<title>Fragment NOT WORKING</title>
</head>
<body>
<div align = "center">
	<h1 id="game-over-title"></h1>
	
	<h2 id = "gameover"></h2>
	<!--  <h3 th:text="${__${T(com.ajn.util.AttributeNames).RESULT_MESSAGE}__}"> -->
	<h3 id="result-message"> <!-- here resultMessage comes from model attribute method -->
	Result Message Content
	</h3>
	
	<!-- <a th:href="restart" th:text="Play" >Play again</a>  -->
	<h3><a id="restart"></a> </h3>
	<h3><a id="home"></a> </h3>

	
	<footer id="footerId">
		<p>Fragment NOT WORKING</p>
	</footer>
	</div>
</body>
</html>