<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!-- This file is now obsolete --> 

	<!-- <context:annotation-config/> -->
	<context:component-scan base-package="core.ajn" />  <!-- implicitly enables the functionality of <context:annotation-config/> -->

	<!-- <bean id="numberGenerator" class="core.ajn.NumberGeneratorImpl" /> 
		<bean id="Game" class="core.ajn.GameImpl"/> -->
	<!-- <constructor-arg ref="numberGenerator"/> -->

	<!-- We're using the constructor arg and then the ref attribute to specify 
		the ID that's going to be injected by the container so the text inside the 
		ref attributes which you can see on line 10 needs to match the ID of the 
		bean in our case it's a numberGenerator -->

	<!-- <property name="numberGenerator" ref="numberGenerator" /> -->	<!-- using autowiring, therefore this is commented -->

	<!-- here above line implements setter dependency injection, where name 
		is the field of the class "numberGenerator" and the ref is the id of the 
		bean "numberGenrator" -->



	<!-- <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" 
		/> -->	<!-- using autowiring, therefore this is commented -->
	<!-- to implement @PostConstruct and @PreDestroy Annotations -->


</beans>

